<span class="bird-name"><%= bird.common_name %> (<%= bird.sci_name %>)</span>
<img class="bird-photo" src="<%= bird.photo.image_url %>">
<div class="bird-attribution">
  <a href="<%= bird.photo.flickr_url %>">
    Photograph by <%= bird.photo.photographer %> via Flickr. (Click for license and Info)
  </a>
</div>
