<div class="welcome-popdown">
  Welcome back, <%=user.name()%>!
</div>


<h1 class="logo">chickadee</h1>

<nav>
  <ul class="nav-left group">
    <li><a class="home-link" href="/#regions">Home</a></li>
    <li><a class="birds-link" href="/#birds">Birds</a></li>
  </ul>

  <ul class="nav-right group">
    <li class="current-user-img">
      <img class "user-thumb" src="<%= user.get('image_url_thumb') %>">
    </li>
    <li class="current-user">
      <a><%= user.name() %>&nbsp&nbsp&#9662;</a>
      <ul class="dropdown">
        <li><a href="#" class="profile">My Profile</a></li>
        <li><a href="#" class="logout">Logout</a></li>
      </ul>
    </li>
    <li class="streak-count">
      <a>&#x1f525;<%= user.escape('streak_count') %></a>
      <div class="arrow-up"></div>
      <ul class="dropdown">
        <li class="streak-msg">
          You're on a <%= user.escape('streak_count') %> day streak!
        </li>
      </ul>
    </li>
  </ul>
</nav>
