<h1>Leaderboards</h1>
<p>Top users for your study regions.</p>

<section class="leaderboard-pane">
  <section class="leaderboard-rotator">
    <h2 class="leaderboard-region"><strong><%= board.name %></strong></h2>
    <ul class="leaderboard-list">
      <% board.users.forEach(function (user, idx) { %>
        <% if (user[2]) { %>
          <li class="leaderboard-ranking current-user-score"><%= idx + 1 %>. <%= user[1] %> (Lv. <%= user[0] %>)</li>
        <% } else if (user[1] === null) { %>
          <li class="leaderboard-ranking"><%= idx + 1 %>. <%= "Anonymous" %> (Lv. <%= user[0] %>)</li>
        <% } else { %>
          <li class="leaderboard-ranking"><%= idx + 1 %>. <%= user[1] %> (Lv. <%= user[0] %>)</li>
        <% } %>
      <% }); %>
    </ul>
  </section>
</section>
