<h1>Birds of <%= region.name() %></h1>

<br>

<section class="quiz-window">
  <h4>Score: <%= quiz.escape('score') %></h4>
  <h4>Progress: <%= quiz.escape('progress') %>/10</h4>

  <h2>
    <%= question.get('correct_answer').common_name %>'s song here
  </h2>

  <section class="answer-choices">
    <ul>
      <% question.answerChoices().forEach(function (answer) { %>
        <li>
          <button class="answer">
            <%= answer.common_name %>
          </button>
        </li>
      <% }) %>
    </ul>
  </section>
</section>
