<h1><strong>Birds of <%= region.name() %></strong></h1>

<section class="quiz-window group">
  <div class="quiz-score"><%= quiz.escape('score') %></div>
  <div class="quiz-progress group">
    <div class="unanswered"> </div><div class="unanswered"> </div>
    <div class="unanswered"> </div><div class="unanswered"> </div>
    <div class="unanswered"> </div><div class="unanswered"> </div>
    <div class="unanswered"> </div><div class="unanswered"> </div>
    <div class="unanswered"> </div><div class="unanswered"> </div>
  </div>


    <!-- <%= parseInt(quiz.escape('progress')) + 1 %>/10 -->

  <div class='audio-box'>

    <div class='fade-box'>
      <h2>What do you hear?</h2>

      <audio src="<%=question.get('audio_url')%>" controls="true" autoplay="true">
        Your browser does not support the audio player element
        (try Chrome or Safari)
      </audio>

      <span class="question-mark">?</span>
      <img class="bird-silhouette" src="bird-silhouette.png">

      <span class="audio-info">
        Recorded by <%= question.escape('recordist') %>. Info and
        license available at
        <a href="<%= question.escape('info_url') %>">
          <%= question.escape('info_url') %>
        </a>.
      </span>
    </div>

  </div>

  <section class="flash-box"></section>

  <section class="answer-choices">
    <ul class= "group">
      <% question.answerChoices().forEach(function (answer) { %>
        <li>
          <button class="answer" data-id="<%= answer.id %>">
            <%= answer.common_name %>
          </button>
        </li>
      <% }) %>
    </ul>
  </section>
</section>

<audio class="ping" src="correct-beep.mp3" preload="auto"></audio>
<audio class="ping" src="incorrect-beep.mp3" preload="auto"></audio>
