

<section class='region-info group'>
  <div class="bird-selector">
    <section class="region-header">
      <% if (region.name() != "All Birds") { %>
        <h6>Birds from
          <select class='region-chooser'>
            <% regions.each(function (regionModel) { %>
              <% if (region.name() === regionModel.name()) { %>
                <option selected value="<%= parseInt(regionModel.get('region_id')) %>"><%= regionModel.name() %></option>
              <% } else { %>
                <option value="<%= parseInt(regionModel.get('region_id')) %>"><%= regionModel.name() %></option>
              <% } %>
            <% }) %>
          </select>
          <div class="down-icon">▾</div>
        </h6>
        <small>
          (reported species from <%= region.get('start_date') %> to
          <%= region.get('updated_at') %>)
          <button class='region-update'><img src="refresh.png" alt="refresh"></button>
        </small>
      <% } else { %>
        <h1>All Birds</h1>
      <% } %>
    </section>

    <section class="bird-menu special-scrollbar">

      <div class="search">
        <input type="text" class="search-bar">
        <img class="bino-background" src="binoculars-icon.png">
      </div>
      <section class="bird-list">
      </section>
    </section>
  </div>
  <section class="bird-details">
  </section>
</section>
