<section class="region-header">
  <% if (region.name() != "All Birds") { %>
    <h1>Birds from <%= region.name() %></h2>
    <h6>
      (reported species from <%= region.get('start_date') %> to
      <%= region.get('updated_at') %>)
    </h6>
  <% } else { %>
    <h1>All Birds</h1>
  <% } %>
</section>

<section class='region-info group'>
  <section class="region-sidepanel">
    <% regions.each(function (regionModel) { %>
      <% if (regionModel.name() === region.name()) { %>
        <button class="go-button selected region-button" data-id="<%= regionModel.id %>">
      <% } else { %>
        <button class="go-button region-button" data-id="<%= regionModel.id %>">
      <% } %>
        <%= regionModel.name() %>
      </button>
    <% }) %>

    <% if (region.id) { %>
      <button class="go-button quiz-start" data-id="<%= region.id %>">
        <strong>PRACTICE!</strong>
      </button>
    <% } %>
  </section>

  <section class="bird-list">
    <button class='region-update'>Update</button>
  </section>
</section>
