<section class="region-header">
  <% if (region.name() != "All Birds") { %>
    <h1>Birds from <%= region.name() %></h2>
    <h6>
      (reported species from <%= region.get('start_date') %> to
      <%= region.get('updated_at') %>)
    </h6>
  <% } else { %>
    <h1>All Birds</h1>
  <% } %>
</section>

<section class='region-info group'>
  <section class="region-sidepanel">

    <% regions.each(function (regionModel) { %>
      <% if (regionModel.get('region_id') && regionModel.name() === region.name()) { %>
        <button class="go-button selected region-button" data-region_id="<%= parseInt(regionModel.get('region_id')) %>">
          <%= regionModel.name() %>
        </button>
      <% } else if (regionModel.get('region_id')) { %>
        <button class="go-button region-button" data-region_id="<%= parseInt(regionModel.get('region_id')) %>">
          <%= regionModel.name() %>
        </button>
      <% } %>
    <% }) %>

    <% if (region.get('region_id')) { %>
      <button class="go-button quiz-start" data-region_id="<%= parseInt(region.get('region_id')) %>">
        <strong>PRACTICE!</strong>
      </button>
    <% } %>

  </section>
  <div class="search">
    <input type="text" class="search-bar">
    <img class="bino-background" src="binoculars-icon.png">
  </div>
  <section class="bird-list">
    <button class='region-update'>Update</button>
  </section>
</section>
