<h2><%= region.name() %></h2>
<h6>
  <% if (region.name() != "All Birds") { %>
      reported species from <%= region.get('start_date') %> to
      <%= region.get('updated_at') %>
  <% } %>
    <button class='region-update'>Update</button>
</h6>
<section class="region-sidepanel">
  <% regions.each(function (regionModel) { %>

    <% if (regionModel.name() === region.name()) { %>
      <button class="selected region-button" data-id="<%= regionModel.id %>">
    <% } else { %>
      <button class="region-button" data-id="<%= regionModel.id %>">
    <% } %>
      <%= regionModel.name() %>
    </button>

  <% }) %>

    <% if (region.name() === "All Birds") { %>
      <button class="selected region-button" data-id=0>
    <% } else { %>
      <button class="region-button" data-id=0>
    <% } %>
      All
    </button>

</section>

<section class="bird-list"></section>
