

<section class='region-info group'>
  <div class="bird-selector">
    <section class="region-header">
      <% if (region.name() != "All Birds") { %>
        <h6>Birds from
          <select class='region-chooser'>
            <% regions.each(function (regionModel) { %>
              <% if (!isNaN(parseInt(regionModel.get('region_id')))) { %>
                <% if (region.name() === regionModel.name()) { %>
                  <option selected value="<%= parseInt(regionModel.get('region_id')) %>"><%= regionModel.name() %></option>
                <% } else { %>
                  <option value="<%= parseInt(regionModel.get('region_id')) %>"><%= regionModel.name() %></option>
                <% } %>
              <% } %>
            <% }) %>
          </select>
          <div class="down-icon">▾</div>
        </h6>
        <small>
          (reported species from <%= region.get('start_date') || "N/A" %> to
          <%= region.get('updated_at') || "N/A" %>)
          <button class='region-update'><img src="refresh.png" alt="refresh"></button>
        </small>
      <% } else { %>
        <h1>All Birds</h1>
      <% } %>
    </section>

    <section class="bird-menu special-scrollbar">

      <div class="search">
        <input type="text" class="search-bar">
        <img class="bino-background" src="binoculars-icon.png">
      </div>
      <section class="bird-list">
      </section>
    </section>
  </div>
  <section class="bird-details">
    <span class="bird-name"><%= region.name() %></span>
    <div class="image-wrapper">
      <div class="spinner">
        <style type='text/css'>@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }.uil-default-css > div:nth-of-type(1){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.5s;animation-delay: -0.5s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(2){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.4166666666666667s;animation-delay: -0.4166666666666667s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(3){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.33333333333333337s;animation-delay: -0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(4){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.25s;animation-delay: -0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(5){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.16666666666666669s;animation-delay: -0.16666666666666669s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(6){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.08333333333333331s;animation-delay: -0.08333333333333331s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(7){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0s;animation-delay: 0s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(8){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.08333333333333337s;animation-delay: 0.08333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(9){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.16666666666666663s;animation-delay: 0.16666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(10){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(11){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.33333333333333337s;animation-delay: 0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(12){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.41666666666666663s;animation-delay: 0.41666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}</style>
        <div class='uil-default-css' style='transform:scale(0.5);top:-12px;left:-5px;'><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:4px;position:absolute;'></div><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:4px;position:absolute;'></div><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:4px;position:absolute;'></div><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:4px;position:absolute;'></div><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:4px;position:absolute;'></div><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:4px;position:absolute;'></div><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:4px;position:absolute;'></div><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:4px;position:absolute;'></div><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:4px;position:absolute;'></div><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:4px;position:absolute;'></div><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:4px;position:absolute;'></div><div style='width:9px;;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:4px;position:absolute;'></div></div>
      </div>
      <div class="region-details">
        <img src="<%= region.get('image_url') %>"></img>
        <div class='leaderboard'>
          <p><strong>Leaderboard</strong></p>
          <ul>
            <% region_attrs.leaderboard.forEach(function (user, idx) { %>
              <li class="<%= user[2] ? 'current-user' : ''%>">
                <%= idx + 1 %>. <%= user[1] || 'Anonymous' %> (Lv. <%= user[0] %>)
              </li>
            <% }) %>
            <% _.each(_.range(region_attrs.leaderboard.length + 1, 11), function(i) { %>
              <li><%= i %>. — </li>
            <% }) %>
          </ul>
        </div>
        <table class="stats-table">
          <tr>
            <td><strong>Level:</strong></td>
            <td><%= region_attrs.level %></td>
          </tr>
          <tr>
            <td><strong>Experience:</strong></td>
            <td><%= region.get('xp') %> XP</td>
          </tr>
          <tr>
            <td><strong>Quizzes Completed:</strong></td>
            <td><%= region_attrs.quiz_count %></td>
          </tr>
          <tr>
            <td><strong>Correct Answers:</strong></td>
            <td><%= region_attrs.correct_answers %> (<%= region_attrs.percent_correct %>%)</td>
          </tr>
          <tr>
            <td><strong>Total Answers:</strong></td>
            <td><%= region_attrs.total_answers %></td>
        </table>
      </div>
    </div>
  </section>
</section>
