<div class="image-upload-pane">
  <h1><%= user.name() %></h1>
  <img class="user-image" src="<%= user.get('image_url_medium') %>">

  <label class="image-upload-label" for="user-image-input">Profile Image</label>
  <input type="file" name="user[image]" id="user-image-input">
</div>

<label for="user_name">Display Name</label>
<input type="text" name="user[alias]" id="user_name" value="<%= user.escape('alias') %>">

<label for="user_about">About Me</label>
<textarea name="user[about]" id="user_about"><%= user.escape('about') %></textarea>

<label for="user_favorite_bird">Favorite Bird</label>
<input type="text" name="user[favorite]" id="user_favorite_bird"
  value="<%=user.escape('favorite') %>">

<button class="back-button">Back</button>
<button class="go-button update-user-profile">Update!</button>
