<div class="profile-form-wrapper">
  <div class="image-upload-pane">
    <h2><strong><%= user.name() %></strong></h2>
    <img class="user-image" src="<%= user.get('image_url_medium') %>">

    <label class="image-upload-label" for="user-image-input">Profile Image</label>
    <input type="file" name="user[image]" id="user-image-input">
  </div>

  <div class="user-details-pane">
    <h3>Display Name</h3>
    <input type="text" name="user[alias]" id="user_name" value="<%= user.escape('alias') %>">

    <h3>About Me</h3>
    <textarea name="user[about]" id="user_about"><%= user.escape('about') %></textarea>

    <h3 for='user_favorite_bird'>Favorite Bird</h3>
    <input type="text" name="user[favorite]" id="user_favorite_bird" value="<%=user.escape('favorite') %>">
    <button class="button button-orange back-button">BACK</button>
    <button class="button button-green go-button update-user-profile">UPDATE</button>
  </div>
</div>
