<header>
  <h1>Chickadee</h1>

  <% if logged_in? %>
    <script type="text/javascript">
      window.currentUser = {id: <%= current_user.id %>}
    </script>

    <a href="/#regions">Home</a>
    <a href="/#birds">Birds</a>

    <p>logged in as <%= current_user.email %></p>

    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token%>">

      <input type="hidden" name="_method" value="DELETE">

      <button>Log Out</button>
    </form>


  <% else %>

    <a href="<%= new_session_url %>">Log In</a>
    <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>
  <hr>
</header>
